.box-1 {
  background-color: #282f3f;
  color: white;
  height: 390px;
  border-radius: 36px;
  padding: 20px;
}

.box-2 {
  background-color: #282f3f;
  color: white;
  height: 390px;
  border-radius: 36px;
  padding: 20px;
}

.tempImg{
  width: 150px;
  top: 155px;
  left: 120px;
  position: absolute;
}

.lumiImg{
  width: 120px;
  top: 170px;
  left: 130px;
  position: absolute;
}

.wattageIcon{
  font-size: 90px;
  top: 170px;
  left: 148px;
  position: absolute;
}

.currentIcon{
  font-size: 90px;
  top: 170px;
  left: 180px;
  position: absolute;
}

.voltageIcon{
  font-size: 90px;
  top: 170px;
  left: 160px;
  position: absolute;
}